## 공공데이터포털에서 데이터 불러와 데이터 분석하기

https://www.data.go.kr/data/15055013/fileData.do 를 참조함.

In [1]:
import os
os.chdir('/content/drive/MyDrive/Study/python_studying/pandas/datasets/')

In [2]:
import pandas as pd

data = pd.read_csv('incheon_population.csv', encoding = 'cp949')
data.head()

,기준년도,세대수 (세대),인구 (명)_남,인구 (명)_여,인구 (명)_한국인_남,인구 (명)_한국인_여,인구 (명)_외국인_남,인구 (명)_외국인_여,인구증가율 (퍼센트),세대당인구 (명),65세 이상 고령자 (명),인구밀도 (명 나누기 킬로미터),면적 (킬로미터)
0,1993,647325,1082259,1062091,1078845,1059581,3414,2510,3.56,3.3,84348,6318,339.40
1,1994,674128,1115457,1092812,1110814,1089955,4643,2857,2.98,3.3,89421,6502,339.61
2,1995,731080,1193395,1168737,1187620,1165453,5775,3284,6.97,3.2,106303,2473,955.00
3,1996,755074,1215627,1188726,1206978,1184846,8649,3880,1.79,3.2,111913,2515,955.95
4,1997,787498,1244820,1216085,1233907,1211705,10913,4380,2.35,3.1,117001,2569,957.81

In [3]:
# data의 row와 column개수 알아보기
data.shape

(26, 13)

In [4]:
# head(n) 상위 n개의 row출력, 기본값:5
data.head(3)

,기준년도,세대수 (세대),인구 (명)_남,인구 (명)_여,인구 (명)_한국인_남,인구 (명)_한국인_여,인구 (명)_외국인_남,인구 (명)_외국인_여,인구증가율 (퍼센트),세대당인구 (명),65세 이상 고령자 (명),인구밀도 (명 나누기 킬로미터),면적 (킬로미터)
0,1993,647325,1082259,1062091,1078845,1059581,3414,2510,3.56,3.3,84348,6318,339.40
1,1994,674128,1115457,1092812,1110814,1089955,4643,2857,2.98,3.3,89421,6502,339.61
2,1995,731080,1193395,1168737,1187620,1165453,5775,3284,6.97,3.2,106303,2473,955.00

In [5]:
# tail(n) 하위 n개의 row출력, 기본값:5
data.tail(3)

,기준년도,세대수 (세대),인구 (명)_남,인구 (명)_여,인구 (명)_한국인_남,인구 (명)_한국인_여,인구 (명)_외국인_남,인구 (명)_외국인_여,인구증가율 (퍼센트),세대당인구 (명),65세 이상 고령자 (명),인구밀도 (명 나누기 킬로미터),면적 (킬로미터)
23,2016,1171399,1512065,1490107,1477671,1465398,34394,24709,0.63,2.6,324255,2789,1076.40
24,2017,1188917,1515950,1495188,1479597,1468945,36353,26243,0.30,2.5,345024,2834,1062.59
25,2018,1213201,1521044,1501467,1481844,1472798,39200,28669,0.38,2.5,362675,2844,1062.59

In [6]:
#info() 함수를 이용해 df의 요약된 정보 출력
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기준년도               26 non-null     int64
 1   세대수 (세대)           26 non-null     int64
 2   인구 (명)_남           26 non-null     int64
 3   인구 (명)_여           26 non-null     int64
 4   인구 (명)_한국인_남       26 non-null     int64
 5   인구 (명)_한국인_여       26 non-null     int64
 6   인구 (명)_외국인_남       26 non-null     int64
 7   인구 (명)_외국인_여       26 non-null     int64
 8   인구증가율 (퍼센트)        26 non-null     float64
 9   세대당인구 (명)          26 non-null     float64
 10  65세 이상 고령자 (명)     26 non-null     int64
 11  인구밀도 (명 나누기 킬로미터)  26 non-null     int64
 12  면적 (킬로미터)          26 non-null     float64
dtypes: float64(3), int64(10)
memory usage: 2.8 KB

In [7]:
# unique() 함수를 이용하여 Column의 고유값 리스트 반환
data['기준년도'].unique()

array([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018])

In [8]:
# value_counts() 함수를 이용하여 column 고유값의 count값 반환
data['기준년도'].value_counts()

1993    1
1994    1
2017    1
2016    1
2015    1
2014    1
2013    1
2012    1
2011    1
2010    1
2009    1
2008    1
2007    1
2006    1
2005    1
2004    1
2003    1
2002    1
2001    1
2000    1
1999    1
1998    1
1997    1
1996    1
1995    1
2018    1
Name: 기준년도, dtype: int64

출력해본 결과, 겹치는 값 없이 다 1개임을 알 수 있다.

In [9]:
# sum()함수를 통해 Column의 합계를 반환
data['세대수 (세대)'].sum()

24700447

In [10]:
# max()함수를 통해 Column의 최댓값 반환
data['세대수 (세대)'].max()

1213201

In [11]:
# min()함수를 통해 Column의 최솟값을 반환
data['세대수 (세대)'].min()

647325

In [12]:
# idxmax()함수를 통해 Column의 최댓값의 인덱스를 반환
idx_max = data['세대수 (세대)'].idxmax()

In [13]:
# idxmax()함수를 통해 iloc[]를 함께 이용하여 세대수가 가장 많은 연도 찾기
idx_max = data['세대수 (세대)'].idxmax()
data['기준년도'].iloc[idx_max] # iloc은 index의 순서를 말한다.

2018

In [14]:
#idxmin() 함수를 이용하여 Column의 최솟값의 인덱스를 반환
data['세대수 (세대)'].idxmin()

0

In [15]:
# idxmin()와 iloc[]를 함께 이용하여 세대수가 가장 적은 연도 찾기
idx_min = data['세대수 (세대)'].idxmin()
data['기준년도'].iloc[idx_min]

1993

In [16]:
# mean() 함수를 이용하여 Column의 평균을 반환
data['세대수 (세대)'].mean()

950017.1923076923

In [17]:
# median() 함수를 이용하여 Column의 중앙값을 반환
data['세대수 (세대)'].median()

949494.0

In [18]:
# var()함수를 이용하여 Column의 분산을 반환
data['세대수 (세대)'].var()

28143031715.76154

In [19]:
# std()함수를 이용하여 Column의 표준편차를 반환
data['세대수 (세대)'].std()

167758.84988805072

## 2. 예제
1990년 세대 수의 평균, 분산, 중앙값을 구하라

In [20]:
data.iloc[0:7]

,기준년도,세대수 (세대),인구 (명)_남,인구 (명)_여,인구 (명)_한국인_남,인구 (명)_한국인_여,인구 (명)_외국인_남,인구 (명)_외국인_여,인구증가율 (퍼센트),세대당인구 (명),65세 이상 고령자 (명),인구밀도 (명 나누기 킬로미터),면적 (킬로미터)
0,1993,647325,1082259,1062091,1078845,1059581,3414,2510,3.56,3.3,84348,6318,339.40
1,1994,674128,1115457,1092812,1110814,1089955,4643,2857,2.98,3.3,89421,6502,339.61
2,1995,731080,1193395,1168737,1187620,1165453,5775,3284,6.97,3.2,106303,2473,955.00
3,1996,755074,1215627,1188726,1206978,1184846,8649,3880,1.79,3.2,111913,2515,955.95
4,1997,787498,1244820,1216085,1233907,1211705,10913,4380,2.35,3.1,117001,2569,957.81
5,1998,794534,1262495,1235909,1253485,1231714,9010,4195,1.52,3.1,123655,2608,958.00
6,1999,809671,1276414,1247837,1266057,1243029,10357,4808,1.03,3.1,130362,2633,958.61

In [21]:
# 평균
print(data.iloc[0:7]['세대수 (세대)'].mean())

# 분산
print(data.iloc[0:7]['세대수 (세대)'].var())

# 중앙값
print(data.iloc[0:7]['세대수 (세대)'].median())

742758.5714285715
3877560878.6190476
755074.0

Column 연산으로 새로운 Column 생성하기

In [22]:
# Column 연산으로 총 인구수 구하기
data['인구 (명)_남+여'] = data['인구 (명)_남'] + data['인구 (명)_여']
data

,기준년도,세대수 (세대),인구 (명)_남,인구 (명)_여,인구 (명)_한국인_남,인구 (명)_한국인_여,인구 (명)_외국인_남,인구 (명)_외국인_여,인구증가율 (퍼센트),세대당인구 (명),65세 이상 고령자 (명),인구밀도 (명 나누기 킬로미터),면적 (킬로미터),인구 (명)_남+여
0,1993,647325,1082259,1062091,1078845,1059581,3414,2510,3.56,3.3,84348,6318,339.40,2144350
1,1994,674128,1115457,1092812,1110814,1089955,4643,2857,2.98,3.3,89421,6502,339.61,2208269
2,1995,731080,1193395,1168737,1187620,1165453,5775,3284,6.97,3.2,106303,2473,955.00,2362132
3,1996,755074,1215627,1188726,1206978,1184846,8649,3880,1.79,3.2,111913,2515,955.95,2404353
4,1997,787498,1244820,1216085,1233907,1211705,10913,4380,2.35,3.1,117001,2569,957.81,2460905
5,1998,794534,1262495,1235909,1253485,1231714,9010,4195,1.52,3.1,123655,2608,958.00,2498404
6,1999,809671,1276414,1247837,1266057,1243029,10357,4808,1.03,3.1,130362,2633,958.61,2524251
7,2000,829164,1296053,1266268,1284769,1261000,11284,5268,1.51,3.1,138316,2657,964.53,2562321
8,2001,845739,1305852,1275705,1294400,1270198,11452,5507,0.75,3.1,145626,2634,980.04,2581557
9,2002,872057,1311620,1284482,1301499,1276490,10121,7992,0.56,3.0,152835,2632,986.45,2596102
10,2003,891606,1318560,1282718,1296989,1273205,21571,9513,0.20,2.9,160660,2636,986.96,2601278
11,2004,908673,1322272,1288443,1300343,1278474,21929,9969,0.36,2.9,169549,2630,992.78,2610715
12,2005,933686,1331830,1300348,1310759,1289736,21071,10612,0.82,2.8,178602,2648,994.12,2632178
13,2006,965302,1349832,1314022,1323375,1301016,26457,13006,1.20,2.8,189940,2658,1002.07,2663854
14,2007,995712,1372611,1337429,1342975,1321601,29636,15828,1.73,2.7,204880,2690,1007.47,2710040
15,2008,1014755,1386673,1354544,1356473,1336223,30200,18321,1.15,2.7,215860,2713,1010.35,2741217
16,2009,1026936,1394068,1364363,1364809,1345770,29259,18593,0.63,2.7,226610,2686,1027.01,2758431
17,2010,1059664,1421439,1386849,1390356,1367940,31083,18909,1.81,2.7,237805,2728,1029.44,2808288
18,2011,1077563,1441503,1409988,1410980,1390294,30523,19694,1.54,2.6,250528,2762,1032.41,2851491
19,2012,1097491,1459692,1431594,1431593,1412388,28099,19206,1.40,2.6,260107,2778,1040.82,2891286
20,2013,1118988,1478862,1451302,1448835,1430947,30027,20355,1.34,2.6,282471,2815,1040.88,2930164
21,2014,1136280,1492104,1465827,1459074,1443534,33030,22293,0.95,2.6,298818,2824,1047.59,2957931
22,2015,1154004,1503639,1479845,1469869,1455946,33770,23899,0.86,2.6,312905,2847,1047.87,2983484
23,2016,1171399,1512065,1490107,1477671,1465398,34394,24709,0.63,2.6,324255,2789,1076.40,3002172
24,2017,1188917,1515950,1495188,1479597,1468945,36353,26243,0.30,2.5,345024,2834,1062.59,3011138
25,2018,1213201,1521044,1501467,1481844,1472798,39200,28669,0.38,2.5,362675,2844,1062.59,3022511

In [23]:
# Column 연산으로 남녀 인구수 차이 구하기
data['인구 (명)_남-여'] = data['인구 (명)_남'] - data['인구 (명)_여']
data

,기준년도,세대수 (세대),인구 (명)_남,인구 (명)_여,인구 (명)_한국인_남,인구 (명)_한국인_여,인구 (명)_외국인_남,인구 (명)_외국인_여,인구증가율 (퍼센트),세대당인구 (명),65세 이상 고령자 (명),인구밀도 (명 나누기 킬로미터),면적 (킬로미터),인구 (명)_남+여,인구 (명)_남-여
0,1993,647325,1082259,1062091,1078845,1059581,3414,2510,3.56,3.3,84348,6318,339.40,2144350,20168
1,1994,674128,1115457,1092812,1110814,1089955,4643,2857,2.98,3.3,89421,6502,339.61,2208269,22645
2,1995,731080,1193395,1168737,1187620,1165453,5775,3284,6.97,3.2,106303,2473,955.00,2362132,24658
3,1996,755074,1215627,1188726,1206978,1184846,8649,3880,1.79,3.2,111913,2515,955.95,2404353,26901
4,1997,787498,1244820,1216085,1233907,1211705,10913,4380,2.35,3.1,117001,2569,957.81,2460905,28735
5,1998,794534,1262495,1235909,1253485,1231714,9010,4195,1.52,3.1,123655,2608,958.00,2498404,26586
6,1999,809671,1276414,1247837,1266057,1243029,10357,4808,1.03,3.1,130362,2633,958.61,2524251,28577
7,2000,829164,1296053,1266268,1284769,1261000,11284,5268,1.51,3.1,138316,2657,964.53,2562321,29785
8,2001,845739,1305852,1275705,1294400,1270198,11452,5507,0.75,3.1,145626,2634,980.04,2581557,30147
9,2002,872057,1311620,1284482,1301499,1276490,10121,7992,0.56,3.0,152835,2632,986.45,2596102,27138
10,2003,891606,1318560,1282718,1296989,1273205,21571,9513,0.20,2.9,160660,2636,986.96,2601278,35842
11,2004,908673,1322272,1288443,1300343,1278474,21929,9969,0.36,2.9,169549,2630,992.78,2610715,33829
12,2005,933686,1331830,1300348,1310759,1289736,21071,10612,0.82,2.8,178602,2648,994.12,2632178,31482
13,2006,965302,1349832,1314022,1323375,1301016,26457,13006,1.20,2.8,189940,2658,1002.07,2663854,35810
14,2007,995712,1372611,1337429,1342975,1321601,29636,15828,1.73,2.7,204880,2690,1007.47,2710040,35182
15,2008,1014755,1386673,1354544,1356473,1336223,30200,18321,1.15,2.7,215860,2713,1010.35,2741217,32129
16,2009,1026936,1394068,1364363,1364809,1345770,29259,18593,0.63,2.7,226610,2686,1027.01,2758431,29705
17,2010,1059664,1421439,1386849,1390356,1367940,31083,18909,1.81,2.7,237805,2728,1029.44,2808288,34590
18,2011,1077563,1441503,1409988,1410980,1390294,30523,19694,1.54,2.6,250528,2762,1032.41,2851491,31515
19,2012,1097491,1459692,1431594,1431593,1412388,28099,19206,1.40,2.6,260107,2778,1040.82,2891286,28098
20,2013,1118988,1478862,1451302,1448835,1430947,30027,20355,1.34,2.6,282471,2815,1040.88,2930164,27560
21,2014,1136280,1492104,1465827,1459074,1443534,33030,22293,0.95,2.6,298818,2824,1047.59,2957931,26277
22,2015,1154004,1503639,1479845,1469869,1455946,33770,23899,0.86,2.6,312905,2847,1047.87,2983484,23794
23,2016,1171399,1512065,1490107,1477671,1465398,34394,24709,0.63,2.6,324255,2789,1076.40,3002172,21958
24,2017,1188917,1515950,1495188,1479597,1468945,36353,26243,0.30,2.5,345024,2834,1062.59,3011138,20762
25,2018,1213201,1521044,1501467,1481844,1472798,39200,28669,0.38,2.5,362675,2844,1062.59,3022511,19577

In [24]:
# Column 연산으로 남녀 비율 구하기

data['남자/인구수'] = data['인구 (명)_남']/data['인구 (명)_남+여']
data['여자/인구수'] = data['인구 (명)_여']/data['인구 (명)_남+여']
data

,기준년도,세대수 (세대),인구 (명)_남,인구 (명)_여,인구 (명)_한국인_남,인구 (명)_한국인_여,인구 (명)_외국인_남,인구 (명)_외국인_여,인구증가율 (퍼센트),세대당인구 (명),65세 이상 고령자 (명),인구밀도 (명 나누기 킬로미터),면적 (킬로미터),인구 (명)_남+여,인구 (명)_남-여,남자/인구수,여자/인구수
0,1993,647325,1082259,1062091,1078845,1059581,3414,2510,3.56,3.3,84348,6318,339.40,2144350,20168,0.504703,0.495297
1,1994,674128,1115457,1092812,1110814,1089955,4643,2857,2.98,3.3,89421,6502,339.61,2208269,22645,0.505127,0.494873
2,1995,731080,1193395,1168737,1187620,1165453,5775,3284,6.97,3.2,106303,2473,955.00,2362132,24658,0.505219,0.494781
3,1996,755074,1215627,1188726,1206978,1184846,8649,3880,1.79,3.2,111913,2515,955.95,2404353,26901,0.505594,0.494406
4,1997,787498,1244820,1216085,1233907,1211705,10913,4380,2.35,3.1,117001,2569,957.81,2460905,28735,0.505838,0.494162
5,1998,794534,1262495,1235909,1253485,1231714,9010,4195,1.52,3.1,123655,2608,958.00,2498404,26586,0.505321,0.494679
6,1999,809671,1276414,1247837,1266057,1243029,10357,4808,1.03,3.1,130362,2633,958.61,2524251,28577,0.505660,0.494340
7,2000,829164,1296053,1266268,1284769,1261000,11284,5268,1.51,3.1,138316,2657,964.53,2562321,29785,0.505812,0.494188
8,2001,845739,1305852,1275705,1294400,1270198,11452,5507,0.75,3.1,145626,2634,980.04,2581557,30147,0.505839,0.494161
9,2002,872057,1311620,1284482,1301499,1276490,10121,7992,0.56,3.0,152835,2632,986.45,2596102,27138,0.505227,0.494773
10,2003,891606,1318560,1282718,1296989,1273205,21571,9513,0.20,2.9,160660,2636,986.96,2601278,35842,0.506889,0.493111
11,2004,908673,1322272,1288443,1300343,1278474,21929,9969,0.36,2.9,169549,2630,992.78,2610715,33829,0.506479,0.493521
12,2005,933686,1331830,1300348,1310759,1289736,21071,10612,0.82,2.8,178602,2648,994.12,2632178,31482,0.505980,0.494020
13,2006,965302,1349832,1314022,1323375,1301016,26457,13006,1.20,2.8,189940,2658,1002.07,2663854,35810,0.506721,0.493279
14,2007,995712,1372611,1337429,1342975,1321601,29636,15828,1.73,2.7,204880,2690,1007.47,2710040,35182,0.506491,0.493509
15,2008,1014755,1386673,1354544,1356473,1336223,30200,18321,1.15,2.7,215860,2713,1010.35,2741217,32129,0.505860,0.494140
16,2009,1026936,1394068,1364363,1364809,1345770,29259,18593,0.63,2.7,226610,2686,1027.01,2758431,29705,0.505384,0.494616
17,2010,1059664,1421439,1386849,1390356,1367940,31083,18909,1.81,2.7,237805,2728,1029.44,2808288,34590,0.506159,0.493841
18,2011,1077563,1441503,1409988,1410980,1390294,30523,19694,1.54,2.6,250528,2762,1032.41,2851491,31515,0.505526,0.494474
19,2012,1097491,1459692,1431594,1431593,1412388,28099,19206,1.40,2.6,260107,2778,1040.82,2891286,28098,0.504859,0.495141
20,2013,1118988,1478862,1451302,1448835,1430947,30027,20355,1.34,2.6,282471,2815,1040.88,2930164,27560,0.504703,0.495297
21,2014,1136280,1492104,1465827,1459074,1443534,33030,22293,0.95,2.6,298818,2824,1047.59,2957931,26277,0.504442,0.495558
22,2015,1154004,1503639,1479845,1469869,1455946,33770,23899,0.86,2.6,312905,2847,1047.87,2983484,23794,0.503988,0.496012
23,2016,1171399,1512065,1490107,1477671,1465398,34394,24709,0.63,2.6,324255,2789,1076.40,3002172,21958,0.503657,0.496343
24,2017,1188917,1515950,1495188,1479597,1468945,36353,26243,0.30,2.5,345024,2834,1062.59,3011138,20762,0.503448,0.496552
25,2018,1213201,1521044,1501467,1481844,1472798,39200,28669,0.38,2.5,362675,2844,1062.59,3022511,19577,0.503239,0.496761